<header style='padding-left: 20px;'>
  <div style='height: 50px;'>
    <a class='h3 title'>{{ category['name'] }}</a>
    <a class='btn icon' onclick="category({{ category['id'] }})" {% if category['id'] <= 0 %} style='display: none;'{% endif %}><i class='material-icons edit'>edit</i></a>
  </div>
  <button class='btn btn-primary' onclick="bookmark(0,{{ category['id'] }})">Add Bookmark</button>
</header>
<div class='table-responsive'>
  <table class='table table-sm'>
    <thead>
      <tr>
        <th scope='col'>Bookmark</th>
        <th scope='col'>URL</th>
        <th scope='col'>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody id='mybookmarks'>
      {% for bookmark in bookmarks %}
      <tr>
        <td>{{ bookmark['bookmark'] }}</td>
        <td><a href="{{ bookmark['url'] }}" target='_blank' class='url'>{{ bookmark['url'] }}</a></td>
        <td>{{ bookmark['category'] }}</td>
        <td><a class='icon' onclick="bookmark({{ bookmark['id'] }})"><i class='material-icons edit'>edit</i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  $(() => {
    document.cookie = "LastVisit={{ category['id'] }}; Path=/";
    $('#mybookmarks').sortable({
      update: (event, ui) => {
        var orig = ui.item.find('td')[0].textContent;
        if (ui.item.prev().length != 0) {
          var dest = ui.item.prev().find('td')[0].textContent;
        } else {
          dest = '#TOP_POSITION#';
        };
        if (ui.item.next().length != 0) {
          var next = ui.item.next().find('td')[0].textContent;
        } else {
          next = '#BOTTOM_POSITION#';
        };
        $.post('/reorder', { orig: orig, dest: dest, refer: next });
      }
    });
    isMobile = window.matchMedia('(max-width: 700px)');
    isMobile.onchange = simplify_url;
    simplify_url();
  });
</script>
