{{ $cid := (index .category "id") }}
{{ $cname := (index .category "name") }}
<header style='padding-left: 20px;'>
  <div style='height: 50px;'>
    <a class='h3 title'>{{ $cname }}</a>
    <a class='btn icon' onclick='category({{ $cid }})' {{ if le $cid 0 }} style='display: none;'{{ end }}><i class='material-icons edit'>edit</i></a>
  </div>
  <button class='btn btn-primary' onclick='bookmark(0, {{ $cid }})'>Add Bookmark</button>
</header>
<div class='table-responsive'>
  <table class='table table-sm'>
    <thead>
      <tr>
        <th scope='col'>Bookmark</th>
        <th scope='col'>URL</th>
        <th scope='col'>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody id='mybookmarks'>
      {{ range $_, $bookmark := .bookmarks }}
      <tr data-id="{{ $bookmark.ID }}">
        <td>{{ $bookmark.Name }}</td>
        <td><a href="{{ $bookmark.URL }}" target='_blank' class='url'>{{ $bookmark.URL }}</a></td>
        <td>{{ printf "%s" $bookmark.Category }}</td>
        <td><a class='icon' onclick="bookmark({{ $bookmark.ID }})"><i class='material-icons edit'>edit</i></a></td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
<script>
  $(() => {
    document.cookie = "LastVisit={{ $cid }}; Path=/";
    $('#mybookmarks').sortable({
      update: (event, ui) => {
        var orig = ui.item.data('id');
        if (ui.item.prev().length != 0) {
          var dest = ui.item.prev().data('id');
        } else {
          dest = '#TOP_POSITION#';
        };
        if (ui.item.next().length != 0) {
          var next = ui.item.next().data('id');
        } else {
          next = '#BOTTOM_POSITION#';
        };
        $.post('/reorder', { orig: orig, dest: dest, next: next });
      }
    });
    isMobile = window.matchMedia('(max-width: 700px)');
    isMobile.onchange = simplify_url;
    simplify_url();
  });
</script>
