:root {
    --sk-color: #1a73e8;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                 'Microsoft YaHei New', 'Microsoft Yahei', 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
}

.topbar {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 70px;
    padding: 0 10px 0 0;
    background-color: #1a73e8;
    user-select: none;
}

.toggle {
    padding: 20px;
    color: white !important;
}

.toggle:hover {
    color: #1a73e8 !important;
    background-color: rgb(232, 232, 232);
}

.brand {
    padding-left: 20px;
    margin: auto;
    font-size: 25px;
    letter-spacing: .3px;
    color: white;
}

.brand:hover {
    color: white;
    text-decoration: none;
}

.topbar .nav-link {
    padding-left: 8px;
    padding-right: 8px;
    color: white !important;
}

.topbar .link:hover {
    background: rgba(255,255,255,.2);
    border-radius: 5px;
    cursor: pointer;
}

.login {
    width: 250px;
    margin: 0 auto 20px;
}

.d-inline-flex {
    margin: 0 20px 20px;
}

form.login {
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 250px;
    padding-top: 70px;
    user-select: none;
}

.category-menu {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    overflow-x: hidden;
    border-right: 1px solid #e9ecef;
    background-color: white;
}

.category-menu .btn {
    margin-left: 20px;
    margin-bottom: 5px;
}

.category-menu .navbar-brand {
    text-indent: 10px;
}

.category-menu .navbar-nav {
    text-indent: 20px;
}

.category-menu .nav-link:hover {
    background-color: rgb(232, 232, 232);
}

#categories {
    height: calc(100% - 76px);
    overflow-y: auto;
} 

.category {
    display: block;
    cursor: pointer;
    margin: 0;
    border-left: 5px solid transparent;
    color: rgba(0,0,0,.7) !important;
}

.active {
    border-left: 5px solid #1a73e8;
    color: #1a73e8 !important;
}

.nav-link.active {
    background-color: #eaf5fd;
}

.content {
    position: fixed;
    top: 0;
    padding-top: 90px;
    height: 100%;
    width: 100%;
}

.loading {
    position: fixed;
    z-index: 2;
    top: 70px;
    left: 250px;
    height: calc(100% - 70px);
    width: calc(100% - 250px);
    display: none;
}

header {
    height: 100px;
}

.h3 {
    cursor: default;
}

.icon {
    color: #007bff !important;
    cursor: pointer;
}

.icon:hover {
    color: #0056b3 !important;
}

.table-responsive {
    height: calc(100% - 100px);
    padding: 0 10px;
    cursor: default;
}

table {
    table-layout: fixed;
}

th {
    position: sticky;
    top: 0;
    border-top: 0 !important;
    border-bottom: 1px solid #dee2e6 !important;
    background-color: white;
}

th:nth-of-type(1) {
    width: 200px;
}
th:nth-of-type(3) {
    width: 200px;
}
th:nth-of-type(4) {
    width: 80px;
}

td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form {
    padding: 0 20px;
}

.form-control {
    width: 250px;
}

.swal {
    margin: 8px 6px;
}

.delete {
    margin-top: 8px;
}

.material-icons.menu {
    font-size: 30px;
}

.material-icons.edit {
    font-size: 18px;
}

@media (min-width: 901px) {
    .sidebar {
        display: block !important;
    }

    .toggle {
        display: none;
    }
}

@media (max-width: 900px) {
    .brand {
        padding-left: 10px;
    }

    .sidebar {
        box-shadow: 0 4px 8px rgba(0,0,0,.1);
        display: none;
    }

    .content {
        padding-left: 0 !important;
    }

    .loading {
        left: 0;
        width: 100%;
    }
}

@media (max-width: 700px) {
    th:nth-of-type(1) {
        width: 120px;
    }
    th:nth-of-type(3) {
        width: 120px;
    }
    th:nth-of-type(4) {
        width: 40px;
    }
}
