[Unit]
Description=Instance to serve My Bookmarks
Wants=network-online.target
After=network-online.target

[Service]
Environment=GIN_MODE=release
ExecStart=/var/www/mybookmarks/mybookmarks

[Install]
WantedBy=multi-user.target
